<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quotes</title>
    <link rel="stylesheet" href="style.css">

    <style>
        textarea {
            width: 100%;
            height: 100px;
        }
    </style>
</head>
<body>
    <h1>Quote Website</h1>

    <h2>Add Quote</h2>
    <form id="quoteForm" action="/add" method="post">
        <label for="quote">Quote:</label><br>
        <textarea name="quote" id="quote" placeholder="Enter your quote" required></textarea><br>

        <label for="author">Author:</label><br>
        <input type="text" name="author" id="author" placeholder="Enter the author's name"><br>

        <label for="date">Date:</label><br>
        <input type="date" name="date" id="date"><br>

        <button type="submit">Add</button>
    </form>

    <h2>Quotes</h2>
    <ul>
        <% quotes.forEach(quote => { %>
            <li><%= quote["quote"] %> - <em><%= quote["author"]=="" ? "Unknow" : quote["author"] %></em></li>
        <% }); %>
    </ul>

    <script>
        function setCookie(name, value, days) {
            var expires = "";
            if (days) {
                var date = new Date();
                date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
                expires = "; expires=" + date.toUTCString();
            }
            document.cookie = name + "=" + (value || "") + expires + "; path=/";
        }

        function getCookie(name) {
            var nameEQ = name + "=";
            var ca = document.cookie.split(';');
            for (var i = 0; i < ca.length; i++) {
                var c = ca[i];
                while (c.charAt(0) == ' ') c = c.substring(1, c.length);
                if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length, c.length);
            }
            return null;
        }

        function fillFormFields() {
            var author = getCookie('author');
            var date = getCookie('date');
            if (author) {
                document.getElementById('author').value = author;
            }
            if (date) {
                document.getElementById('date').value = date;
            }
        }

        window.onload = function () {
            fillFormFields();
        };

        document.getElementById('quoteForm').addEventListener('submit', function (event) {
            document.getElementById('author').value=="" || setCookie('author', document.getElementById('author').value, 7); // Store for 7 days
            document.getElementById('date').value=="" || setCookie('date', document.getElementById('date').value, 7); // Store for 7 days
        });
    </script>
</body>
</html>
